<!DOCTYPE html>
<html>
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/registerrefree.css' %}">

<body  style="background-image: url('{% static 'images/stadium.jpg' %}'); background-size: cover;
	background-position: center;
	font-family: sans-serif;" >
</head>
<body>
	<div class="register_refree">
		<h4 style="color: green">register as  refree</h4>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for form in forms %}
		{{form.label}}
		{{form}}
		<br><br>
		{%endfor%}
		{{refreeform.as_p}}
		<label>verify</label>
	<input type="password" name="check"><br>
	<h3><input type="submit" name="register" value="register"></h3>
	</form>
{%for message in messages %}
	{{message}}
{%endfor%}
</body>
</div>
</html>