<!DOCTYPE html>
<html>
<head>
<h1>register as  Supporter</h1>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">

<body  style="background-image: url('{% static 'images/stadium.jpg' %}'); background-size: cover;
	background-position: center;
	font-family: sans-serif;" >
</head>
<body>
	<div class="login-box">
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for form in forms %}
		{{form.label}}
		{{form}}
		<br><br>
		{%endfor%}
		{{supporterform.as_p}}
		<select name="clubs" >
	{% for k in club_list %}
    <option >{{k}}</option>
    {%endfor%}
</select>
	<h3><input type="submit" name="register" value="register"></h3>
	</form>
{%for message in messages %}
	{{message}}
{%endfor%}
</body>
</div>
</html>